html{
    scroll-behavior: smooth;
}
.is-blue{
    background: #209cee;
}
.fixed-input{
    position: fixed;
    bottom: 2%;
    left: 1%;
    display: flex;
    justify-content: left;
}
.fixed-count {
    width: max(4%, 40px);
}
.fixed-drop {
    margin-left: 5px;
}
.fixed-back{
    position: fixed;
    bottom: 50%;
    left: 2%;
}
.fixed-right{
    position: fixed;
    bottom: 50%;
    right: 2%;
}
.is-small {
    max-width: 100%;
}
code{
    tab-size: 4;
}
slide{
    padding: 7px;
}
br{
    line-height: 150%;
}
