.is-blue{
    background: linear-gradient(#53a6dd, #329de4);
}
.is-shadow{
    background: linear-gradient(#ffffff, #ebebeb);
}
svg{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    fill: #ffffff;
}
.fixed-input{
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 5%;
}
.fixed-back{
    position: fixed;
    bottom: 50%;
    left: 5%;
}
.fixed-right{
    position: fixed;
    bottom: 50%;
    right: 5%;
}