html{
    scroll-behavior: smooth;
}
.is-blue{
    background: linear-gradient(#53a6dd, #329de4);
}
svg{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    fill: #ffffff;
}
.fixed-input{
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: max(4%, 40px);
}
.fixed-back{
    position: fixed;
    bottom: 50%;
    left: 2%;
}
.fixed-right{
    position: fixed;
    bottom: 50%;
    right: 2%;
}
.fixed-right-bottom{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
code{
    tab-size: 4;
}
slide{
    padding: 7px;
}
br{
    line-height: 150%;
}
.c-column{
    margin:6px auto 3px;
    padding:0px;
}
@media (max-device-width: 1024px){
    #c-column{
        margin-top: 0 !important;
    }
} 